<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-controller="MainPageController" ng-cloak >
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="file:///Users/ivantrofimov/Desktop/Hackathon2016/script/app-config.js"></script>
  <script src="file:///Users/ivantrofimov/Desktop/Hackathon2016/script/directive-config.js"></script>  
  <script src="file:///Users/ivantrofimov/Desktop/Hackathon2016/script/main-controller.js"></script>
  <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
  <script type="text/javascript"> 
  </script>
  <script type="text/javascript"> 
   
</script>
  <div style="background: #bbbbbb;">
    <div style="background: #ffffff; width: 780px; margin: 0 auto;">
      <div layout="column">
        <div subject></div>
        <div date></div>
        <div description></div>
      </div>
    </div>  
  </div>
  <div ng-click="clickVK()">
    vk init
  </div>
  <div ng-click="clickPost()">
    vk post
  </div>
</div>
</body>
</html>
