.md-button.btn1{
	background-color: #7fff00;
}
.md-button.btn2{
	background-color: #0000ff;
}
.md-button.btn3{
	background-color: #8a2be2;
}
.md-button.btn4{
	background-color: #ff7f24;
}
.md-button.btn5{
	background-color: #00ffff;
}