<div style="width: 400; overflow: hidden">
	<div style="
		border-bottom-color: #c1cdcd;
		border-width: 1;
		border-bottom-style: solid;
		" align="center">
		<h3 align="center" style="padding-top: 0; padding-bottom: 0">Add subject</h3>
	</div>
	<div layout="column" style="padding-left: 10; padding-right: 10">
		<md-input-container >
			<label>Name of the subject</label>
			<input type="text" ng-model="tTitle">
		</md-input-container>
		<md-input-container style="padding-top: 0">
			<label>Description of the subject</label>
			<input type="text" ng-model="tContent">
		</md-input-container>
		<section align="center">
		<md-button class="md-fab" ng-disabled="!tTitle || !tContent" style="color: black"></md-button>
		<md-button class="md-fab btn2" ng-disabled="!tTitle || !tContent"></md-button>
		<md-button class="md-fab btn3" ng-disabled="!tTitle || !tContent"></md-button>
		<md-button class="md-fab btn4" ng-disabled="!tTitle || !tContent"></md-button>
		<md-button class="md-fab btn5" ng-disabled="!tTitle || !tContent"></md-button>
		</section>
		<md-button class="md-raised md-primary" ng-click="closeDialog()" align="center">Cancel</md-button>
	</div>
</div>