<div style="width:300px; height:230px;">
	<div style="
	border-bottom-color: #c1cdcd;
	border-bottom-style: solid;">
		<h2 align="center">New lesson</div>
	<div layout="column">
		<md-datepicker style="margin-left:50px; width:200px;"  ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
		<md-input-container>
			<md-select style="margin-left:50px; width:200px;" ng-model="period" placeholder="Period" class="md-no-underline">
          <md-option value="1">Once</md-option>
          <md-option value="2">1 per a week</md-option>
          <md-option value="3">1 per two week</md-option>
      </md-select>
			<section style="margin:10px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button style="width:120px;" class="md-raised" ng-click="closeDialog()">Button</md-button>
			  <md-button style="width:120px;" class="md-raised md-primary"> Primary</md-button>
    	</section>
		</md-input-container>
	</div>
</div>