
<div layout=row>
<div style="
  outline: 0px solid #000; margin: 8px; padding: 4px; overflow-y:scroll;
">
<div style="
    background:#DFE6ED; min-width: 120px; height: 30px; margin: 8px;
    padding-top: 3px; text-align:center; display: table-cell;
"
ng-show="subjects.length == 0">Add lesson</div>
  <div style="
    display: inline-block; padding-right: 8px; display: table-cell; padding-bottom:16px;" 
    ng-repeat="date in dates">
    <div style="
      background: #ffffff; width: 120px; height: 120px; text-align:center;">
      <div flex layout="column">
        <div style="
          margin-top:2px; margin-bottom:-2px; height:25px; align-content:center;
        ">
          {{date.date*1000 | date:'MMMM yy'}}
        </div>
        <div style="
          height:70px; background: #dddddd; font-size:55px;
        ">
          {{date.date*1000 | date:'dd'}}
        </div>
        <div layout="row" style="
          height:25px; margin-top:2px; margin-bottom:-2px;"> 
          <div style="width:40px;">
            !
          </div> 
          <div style="width:40px;">
            ?
          </div>
          <div style="width:40px;">
            -
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div>
    <md-button ng-click="openAddLesson($event)" class="md-raised md-warn">
      +
    </md-button>
  </div>
</div>
