<div style="outline: 0px solid #000; margin: 8px; padding: 4px;">
  <div layput=column>
    <div ng-show="subjectTitle.equals('')" layout=row style="align-self:center; padding-left:50px; margin-top:-5px; margin-bottom:-15px;">
      <md-switch flex ng-model="switch.s1" aria-label="Switch 1" ng-change="switchChange(1)">
        Hometask
      </md-switch>
      <md-switch flex ng-model="switch.s2" aria-label="Switch 2" ng-change="switchChange(2)">
        Important
      </md-switch>
      <md-switch flex ng-model="switch.a3" aria-label="Switch 3" ng-change="switchChange(3)">
        Cancel
      </md-switch>
    </div>
    <div ng-show="subjectTitle != ''" style="padding:10px; font-size:30px; font-weight:500; text-align:center; margin-bottom:-25px;"> 
      {{subjectTitle}}
    </div>
    <div ng-show="subjectTitle != ''" style="margin:10px; padding:10px; box-shadow: 0px 2px 0px 0px #DFE6ED; font-size:24px; font-weight:300; text-align:center; "> 
      {{subjectTag}}
    </div>
    <div ng-show="subjectTitle != ''" style="margin:10px; padding:10px; box-shadow: 0px 2px px 0px #DFE6ED; font-size:18px; font-weight:300; ">
      {{subjectDescription}}
    </div>
    <div ng-show="lessonDescription != ''" style="margin:10px; padding:10px; box-shadow: 0px 2px 0px 0px #DFE6ED; font-size:18px; font-weight:300;">
      {{lessonDescription}}
    </div>
    <div ng-show="lessonDescription != ''" style="margin:10px; padding:10px; font-size:18px; font-weight:300;">
      {{lessonTagTag}}
      {{lastModified}}
    </div>
  </div>

</div>