<div style="
  outline: 2px solid #000;
  margin: 8px;
  padding: 4px;
">
  <div layput=column>
    <div layout=row style="
      align-self:center;
      padding-left:50px;
      margin-top:-5px;
      margin-bottom:-15px;

    ">
      <md-switch flex ng-model="switch.s1" aria-label="Switch 1">
        Hometask
      </md-switch>
      <md-switch flex ng-model="switch.s2" aria-label="Switch 2">
        Important
      </md-switch>
      <md-switch flex ng-model="switch.a3" aria-label="Switch 3">
        Cancel
      </md-switch>
    </div>
    <div style="
      margin:10px;
      padding:10px;
      box-shadow: 0px 3px 0px 0px #DFE6ED;
      font-size:24px;
      font-weight:400;
    "> 
      {{subjectTitle}} #Android@M3238
    </div>
    <div style="
      margin:10px;
      padding:10px;
      box-shadow: 0px 3px 0px 0px #DFE6ED;
      font-size:18px;
      font-weight:300;
    ">
      {{subjectDescription}}
    </div>
    <div style="
      margin:10px;
      padding:10px;
      box-shadow: 0px 3px 0px 0px #DFE6ED;
      font-size:18px;
      font-weight:300;
    ">
      Домашнее задание номер 4. Сделать кеш приложения на SQLLite. 
      Решения присылайте на Git в Pull-request
    </div>
    <div style="
      margin:10px;
      padding:10px;
      font-size:18px;
      font-weight:300;
    ">
      #Android26_11_16@M3238
      Last modified by Ivan Trofimov
    </div>
  </div>

</div>