<div style="margin-top:60px;"> 
    <div style="height:100px; text-align:center; margin:10px; display:inline-block" ng-repeat="date in dates"
    ng-click="clickDate(date)">
        <div layout=column style="width: 100px">
            <div style="background:#A4EDFF; height:25px; font-size:15px;">{{date.date*1000 | date:'MMMM'}} {{date.date*1000 | date:'yy'}}</div>
            <div style="background:#00BAFF; height:50px; font-size:36px;">{{date.date*1000 | date:'dd'}}</div>
            <div style="background:#A4EDFF; height:25px;" layout="row">
                <div style="width:33px; color:gray;">!</div>
                <div style="width:34px; color:gray;">?</div>
                <div style="width:33px; color:gray;">C</div>
            </div>
        </div>
    </div>
</div>
<div style="height:70px"></div>
