
<div layout="row">
  <div style="border-radius: 5px; background:#81D4FA; min-width: 700px; height: 30px; margin: 8px;
    padding-top: 3px; text-align:center; display: table-cell;" 
    ng-show="subjects.length == 0">
  Add subject for start :)
</div>
  <div style="width:700px; outline: 0px solid #000; height: 30px; margin: 8px;
    padding: 4px; overflow-y:scroll; padding-bottom:16px;">
    <div style="display: table-cell; padding-right: 8px; font-size: 18px;" >
      <div ng-repeat="subject in subjects" style="border-radius: 10px; overflow:visiable; white-space:nowrap; padding-left:4px; padding-right:4px;
        background:#81D4FA; padding-top: 3px; min-width: 120px; height: 27px; text-align:center;"
        ng-click="clickSubject(subject)">
        {{subject.title}}
      </div>
    </div>
  </div>
  <div>
    <md-button style="margin-left:10px;" ng-click="openAddSubject($event)" class="md-fab md-mini" aria-label="Eat cake">
       +
    </md-button>
  </div>
</div>

